<div class="page page-dashboard">

    <div class="row">
        <div class="col-md-12">

            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>Facturas emitidas
                </div>
                <div>
                    <progressbar class="progressbar progress-striped" value="100" type="success" ng-show="!data">Wait...</progressbar>
                    <barchart id="facturacion" val="data" data-options="chart_options" class="grafic"></barchart>
                </div>
            </section>            

        </div>        
    </div>

</div>

<div class="page page-dashboard taula">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>
                    {{titulo}} Datos
                    <span style="float: right;">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="exportarMes()" ng-show="data">
                            exportar
                        </button>
                    </span>
                </div>
                <div>
                    <table class="table table-condensed">
                        <tr>
                            <th> Mes </th>
                            <th ng-repeat="any in anys"> {{any}} </th>
                        </tr>
                        <tr ng-repeat="dato in data">
                            <td> {{$index + 1}} </td>
                            <td ng-repeat="any in anys"> {{dato[any]}} </td>
                        </tr>
                    </table>
                </div>
            </section>            

        </div>        
    </div>
</div>

<div class="page page-dashboard">
    <div class="row">
        <div class="col-md-12">

            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Facturacion Acumulada</div>
                <div>
                    <progressbar class="progressbar progress-striped" value="100" type="success" ng-show="!data">Wait...</progressbar>
                    <linechart id="facturacion_acum" val="data_acum" data-options="chart_options" class="grafic"></linechart>
                </div>
            </section>            

        </div>        
    </div>
</div>

<div class="page page-dashboard taula">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>{{titulo}} Datos Acumulado
                    <span style="float: right;">
                        <button type="button" class="btn btn-danger btn-xs" ng-click="exportarAcum()" ng-show="data">
                            exportar
                        </button>
                    </span>
                </div>
                <div>
                    <table class="table table-condensed">
                        <tr>
                            <th> Mes </th>
                            <th ng-repeat="any in anys"> {{any}} </th>
                        </tr>
                        <tr ng-repeat="dato in data_acum">
                            <td> {{$index + 1}} </td>
                            <td ng-repeat="any in anys"> {{dato[any]}} </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>        
    </div>
</div>
