<div class="page page-dashboard">

    <div class="row">
        <div class="col-md-12">

            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Primeras Visitas Por Edad</div>
                    <progressbar class="progressbar progress-striped" value="100" type="success" ng-show="!data">Wait...</progressbar>
                    <barchart id="primeras_edat" val="data_edad" data-options="chart_options_edad" class="grafic"></barchart>
                </div>
            </section>            

        </div>        
    </div>

</div>

<div class="page page-dashboard taula">
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-th"></span>Datos</div>
                <table class="table table-condensed">
                    <tr>
                        <th> Mes </th>
                        <th ng-repeat="any in anys"> {{any}} </th>
                    </tr>
                    <tr ng-repeat="dato in data_edad">
                        <td> {{dato.label}} </td>
                        <td ng-repeat="any in anys"> {{dato[any]}} </td>
                    </tr>
                </table>

                </div>
            </section>            

        </div>        
    </div>
</div>
