<div class="page page-dashboard">

<!-- tabla -->

	<div class="panel panel-default">

		<!-- lista de contactos de seguimiento -->

		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span><span>Confirmacion de citas</span></strong>
			<span style="float: right;">
				<button type="button" class="btn btn-danger btn-sm" ng-click="smsv.dia()">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</span>
		</div>

		<div class="panel-body">

			<div ng-hide="smsv.citas"><i class="fa fa-spinner fa-spin"></i> Cargando datos...</div>

			<div ng-show="smsv.citas" class="input-group ui-datepicker">
				<input type="text" 
					class="form-control"
					datepicker-popup="yyyy-MM-dd"
					is-open="opened"
					max="'2035-12-31'"
					datepicker-options="dateOptions"
					ng-model="smsv.fecha"
					datepicker-append-to-body = "true"
					current-text="Hoy"
					clear-text="Borrar"
					close-text="Cerrar"
					min="minDate"
					ng-change="smsv.dia()"
					disabled="true" 
				>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="smsv.menos()"><i class="glyphicon glyphicon-calendar"></i> -1</button>
					<button type="button" class="btn btn-default" ng-click="smsv.openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i> Abre el Calendario</button>
					<button type="button" class="btn btn-default" ng-click="smsv.mas()"><i class="glyphicon glyphicon-calendar"></i> +1</button>
				</span>
			</div>


			<table ng-show="smsv.citas" class="table" table-condensed>
				<thead>
					<tr>
						<th>box</th>
						<th>fecha</th>
						<th>hora</th>
						<th>movil</th>
						<th>status</th>
						<th>paciente</th>
						<th>respuesta</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in smsv.citas"  ng-class="{'bg-danger': i.viene == 0,  'bg-success': i.viene == 1 || i.confirmado == 1, 'bg-info': i.status == 'f' }">
						<td>{{i.box}}<br/>
							<!--small>{{i.idcita}}</small--></td>
						<td>{{i.fecha}}</td>
						<td>{{i.hora}}</td>
						<td><a ng-href="#!/sms/uno/{{i.movil}}/{{i.paciente}}">{{i.movil}}</a></td>
						<td>{{i.status}}<span class="glyphicon glyphicon-thumbs-down" ng-hide="i.movil.length == 11"></span></td>
						<td>{{i.paciente}}</td>
						<td>{{i.respuesta_in}}</td>

						<td width="30px">
							<span >&nbsp;</span>
							<button type="button" class="btn btn-success btn-sm" ng-click="smsv.confirma(i, $index)" ng-show="i.confirmado == 0 && !(i.viene == -1 || i.viene == 1)">
								<span class="glyphicon glyphicon-thumbs-up"></span>
							</button>
							<span class="glyphicon glyphicon-time" ng-show="i.reprogramado == 1"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	<!-- sin movil -->
		<div class="panel-body">

			<div ng-hide="smsv.citas"><i class="fa fa-spinner fa-spin"></i> Cargando datos...</div>

			<div class="callout callout-success">Citas Sin movil del {{smsv.fecha}}</div>

			<table ng-show="smsv.citassin" class="table" table-condensed>
				<thead>
					<tr>
						<th>box</th>
						<th>&nbsp;</th>
						<th>hora</th>
						<th>movil</th>
						<th>&nbsp;</th>
						<th>paciente</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in smsv.citassin"  ng-class="{'bg-success': i.Recordada == 1 }">
						<td>{{i.boxllarg}}<br/>
							<!--small>{{i.idcita}}</small--></td>
						<td>{{i.fecha}}</td>
						<td>{{i.quehora}}</td>
						<td>{{i.Tel1}}</td>
						<td>&nbsp;</td>
						<td>{{i.Apellidos}}, {{i.Nombre}}</td>
						<td>&nbsp;</td>

						<td width="30px">
							<span >&nbsp;</span>
							<button type="button" class="btn btn-success btn-sm" ng-click="smsv.confirmaGD(i, $index)" ng-show="i.Recordada == 0">
								<span class="glyphicon glyphicon-thumbs-up"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>