<div class="page page-dashboard">

	<!--a href="#!/presupuestos" type="button" class="btn btn-warning btn-sm">
		<span class="glyphicon glyphicon-arrow-left"></span>
	</a-->
	<a id="formulario"></a>


<!-- formulario -->

	<div class="panel panel-default">

		<!-- lista de contactos de seguimiento -->

		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span><span>Introduccion y Edicion de Articulos</span></strong>
			<span style="float: right;">
			</span>
		</div>

		<div class="panel-body">
			<form ng-submit="onSubmit()">
			  <formly-form model="article" fields="articleFields" options="options">
			    <button type="submit" class="btn btn-success btn-sm" >Envia</button>
			    <button type="button" class="btn btn-default btn-sm" ng-click="options.resetModel()">Reset</button>
			  </formly-form>
			</form>
		</div>


	</div>

<!-- listado -->

	<div class="panel panel-default">

		<!-- lista de contactos de seguimiento -->

		<div class="panel-heading">
			<strong><span class="glyphicon glyphicon-th"></span><span>Listado de Articulos</span></strong>
			<span style="float: right;">
			</span>
		</div>

		<div class="panel-body">

			<div ng-hide="articulos"><i class="fa fa-spinner fa-spin"></i> Cargando datos...</div>

			<table ng-show="articulos" class="table" table-condensed>
				<thead>
					<tr>
						<th>Id</th>
						<th>Ref<br/><input type="text" class="form-control" placeholder="Buscar referencia..." ng-model="busca.ref"></th>
						<th>Articulo<br/><input type="text" class="form-control" placeholder="Buscar articulo..." ng-model="busca.nom"></th>
						<th>Proveedor</th>
						<th>PVP</th>
						<th>PGA</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ppto in articulos| filter:busca">
						<td width="10%">{{ppto.id}}</td>
						<td width="10%">{{ppto.ref}}</td>
						<td width="50%">{{ppto.nom}}</td>
						<td width="15%">{{ppto.proveidor}}</td>
						<td width="5%">{{ppto.pvp}}</td>
						<td width="5%">{{ppto.pga}}</td>

						<td width="5%">
							<button type="button" class="btn btn-success btn-sm" ng-click="editar(ppto)">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</div>