<div class="page page-dashboard">
    <!--a href="#!/presupuestos" type="button" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a-->
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>Canta
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Presupuestos</h3>
                            <p>Presupuestos que constan en Gesdent con codigo de Presupuesto (7) / Propuesto (8) entrados entre las fechas del rango.</p>
                            <hr/>
                            <form data-pg-collapsed>
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Pptos" name="Presupuestos">
                                        <span>Presupuestos</span>
                                    </button>
                                </fieldset>
                                <hr/>
                                <fieldset>
                                    <label title="desde">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                            <hr/>
                            <div class="" data-pg-collapsed>
                                <p>Num.</p>
                                <h1>{{ppto.num}}</h1>
                                <p>Valor</p>
                                <h1>{{ppto.pago}}</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3>Aceptados</h3>
                            <p></p>
                            <hr>
                            <form data-pg-collapsed="">
                                Operaciones que constan en Gesdent con codigo de Aceptadas (3) / Ejecutadas (5) entre las fechas del rango.
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Acepta" name="Presupuestos">
                                        <span>Aceptados</span>
                                    </button>
                                </fieldset>
                                <hr>
                                <fieldset>
                                    <label title="desde">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                            <hr>
                            <div data-pg-collapsed="">
                                <p>Num.</p>
                                <h1>{{acepta.num}}</h1>
                                <p>Valor</p>
                                <h1>{{acepta.pago}}</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3>Realizado</h3>
                            <p>Operaciones que constan en Gesdent con codigo de Realizadas (5) entre las fechas del rango.</p>
                            <hr>
                            <form data-pg-collapsed="">
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Sigue" name="Presupuestos">Realizado&nbsp;</button>
                                </fieldset>
                                <hr>
                                <fieldset>
                                    <label title="desde" class="control-label">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde" class="control-label">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                            <hr>
                            <div data-pg-collapsed="">
                                <p>Num.</p>
                                <h1>{{realiza.num}}</h1>
                                <p>Valor</p>
                                <h1>{{realiza.pago}}</h1>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3>Seguimiento</h3>
                            <p>Operaciones que constan en Gesdent con codigo de Aceptadas (3) entre las fechas del rango.</p>
                            <hr>
                            <form data-pg-collapsed="">
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Sigue" name="Presupuestos">
                                        <span>Seguimiento</span>
                                    </button>
                                </fieldset>
                                <hr>
                                <fieldset>
                                    <label title="desde" class="control-label">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde" class="control-label">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                            <hr>
                            <div data-pg-collapsed="">
                                <p>Num.</p>
                                <h1>{{sigue.num}}</h1>
                                <p>Valor</p>
                                <h1>{{sigue.pago}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>             
        </div>         
    </div>
</div>
