<div class="page page-dashboard">
    <!--a href="#!/presupuestos" type="button" class="btn btn-warning btn-sm">
        <span class="glyphicon glyphicon-arrow-left"></span>
    </a-->
    <div class="divider"></div>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th"></span>Canta
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Presupuestos</h3>
                            <p>Presupuestos que constan en Gesdent con codigo de Presupuesto (7) / Propuesto (8) entrados entre las fechas del rango.</p>
                            <hr/>
                            <form data-pg-collapsed>
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Pptos" name="Presupuestos">
                                        <span>Presupuestos</span>
                                    </button>
                                </fieldset>
                                <hr/>
                                <fieldset>
                                    <label title="desde">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-4" data-pg-collapsed>
                            <h3>Aceptados</h3>
                            <p>Presupuestos que constan en Gesdent con codigo de Presupuesto (7) / Propuesto (8) entrados entre las fechas del rango.</p>
                            <hr/>
                            <form>
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Acepta" name="Presupuestos">
                                        <span>Aceptados</span>
                                    </button>
                                </fieldset>
                                <hr/>
                                <fieldset>
                                    <label title="desde">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <h3>Seguimiento</h3>
                            <p>Presupuestos que constan en Gesdent con codigo de Presupuesto (7) / Propuesto (8) entrados entre las fechas del rango.</p>
                            <hr/>
                            <form>
                                <fieldset class="pg-empty-placeholder">
                                    <button type="button" class="btn btn-warning btn-xs btn-block" data-ng-click="ppto()" tooltip="Sigue" name="Presupuestos">
                                        <span>Seguimiento</span>
                                    </button>
                                </fieldset>
                                <hr/>
                                <fieldset>
                                    <label title="desde">
                                        desde:&nbsp;
</label>
                                    <input placeholder="desde">
                                </fieldset>
                                <fieldset>
                                    <label title="desde">
                                        hasta: &nbsp;
</label>
                                    <input placeholder="hasta">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </section>             
        </div>         
    </div>
</div>
